.site-section{
  margin: 0px;
  padding: 5em 0;
  font-family: 'Lato' sans-serif;
  }

  h1{
    margin: 2em 0px;
    padding: 0px;
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: 50px;
  }

  .chart-nav{
    width: 890px;
    margin: 1em auto;
  }
  
  ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  ul.dropdowny{ 
    position: relative; 
    width: 100%; 
  }
  
  ul.dropdowny li{ 
    font-weight: bold; 
    float: left; 
    width: 25%; 
    background: #ecf0f1;
  }
  
  
  
  ul.dropdowny li a { 
    display: block; 
    padding: 20px 8px;
    color: #34495e; 
    position: relative; 
    z-index: 2000; 
    text-align: center;
    text-decoration: none;
    font-weight: 300;
  }
  
  ul.dropdowny li input:hover,
  ul.dropdowny li a:hover,
  ul.dropdowny li a.hover{ 
    background: #62b43f;
    position: relative;
    color: #fff;
  }


  
  ul.dropdowny ul{ 
   display: none;
   position: absolute; 
    top: 67px; 
    left: 0px; 
    width: 100%; 
  }

  li.drop:hover ul{
    display: block;
  }
  
  ul.dropdowny ul li { 
    font-weight: normal; 
    background: #f6f6f6; 
    color: #000; 
    border-bottom: 1px solid #ccc; 
  }
  
  ul.dropdowny ul li a{ 
    display: block;
    color: #34495e !important;
    background: #eee !important;
  } 
  
  ul.dropdowny ul li a:hover{
    display: block; 
    background: #62b43f !important;
    color: #fff !important;
  } 


  
  .drop > a{
    position: relative;
  }
  
  .drop > a:after{
    content:"";
    position: absolute;
    right: 10px;
    top: 40%;
    border-left: 5px solid transparent;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    z-index: 999;
  }
  
  .drop > a:hover:after{
    content:"";
    border-left: 5px solid transparent;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
  }

    /*회원 검색부분*/
 #sser:hover{
  position: relative;
  color: black;
 }